body{
    background: #4169E1;
}

.mapadiv{
    width: 50%;
    margin: auto;
}

.mapadiv path{
    fill: #f0e68c;
    stroke: #8b4513;
    stroke-width: 2px;
}

.mapadiv path.Capital{
    fill: #f34d00;
    stroke: #cdfa03;
    stroke-width: 2px;
}
.mapadiv :hover{
    fill: #800000;
    
}

@media(max-width:991px) {
    body {
        padding: 30px;
    }

    .mapadiv {
        width: 100%;
    }

    .mapadiv path {
        width: 100%;
    }

    .path {
        width: 100%;
    }

    .circle {
        width: 100%;
    }

}
